$default-height: 100px;
$breakpoint-tablet: 768px;

/* calculate power of a number */
@function pow($number, $exp) {
  $numAtPow: 1;

  @if $exp > 0 {
    @for $i from 1 through $exp {
      $numAtPow: $numAtPow * $number;
    }
  } @else if $exp < 0 {
    @for $i from 1 through ($exp * (-1)) {
      $numAtPow: $numAtPow / $number;
    }
  }

  @return $numAtPow;
}

/* calculate golden ratio height */
@function heightGold($num) {
  @while ($num % 8 != 0) {
    $num: $num + 1;
  }

  @return $num;
}

/* calculate golden ratio font size */
@function fontGold($scale) {
  @return floor(16 * pow(1.618, $scale));
}

@mixin goldenRatio($scale) {
  font-size: fontGold($scale) + px ;
  line-height: heightGold(fontGold($scale)) + px;
}

.clear {
  clear: both;
}

h2 {
  color: #666;
  @include goldenRatio(2);
}


.latest-games,
.add-games {
  min-height: $default-height;
  border: 2px solid #eee;
  border-radius: 5px;
  margin: 20px 0;
}

.glyphicon-user {
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  background-color: #fafafa;
  padding: 15px;
  font-size: 20px;
}

.game {
  min-height: $default-height;
  margin-top: 15px;
  margin-bottom: 15px;
  .player-names {
    @include goldenRatio(1);
    margin-right: 15px;
    margin-left: 15px;
  }
  .scores {
    @include goldenRatio(0);
  }
}

.glyphicon-trash {
  color: blue;
  line-height: $default-height;
  vertical-align: middle;
  &:hover {
    color: red;
    cursor: pointer;
  }
}

.winner {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 7px;
  margin-right: 7px;
  background-color: #449d44;
  border-color: #398439;
}

select {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 20px;
  width: 220px;
  height: 50px;
  padding: 0 10px;
  @include goldenRatio(1);
  color: #888;
  background: url(https://cdn3.iconfinder.com/data/icons/faticons/32/arrow-down-01-24.png) no-repeat ;
  background-position: 185px 15px;
  border: 1px solid #bbb;
}

.btn-primary {
  border-radius: 0;
  padding: 10px 20px;
  margin: 20px;
  @include goldenRatio(1);
}

@media (max-width: $breakpoint-tablet) {
  .game {
    .player-names {
      @include goldenRatio(0);
      margin-right: 5px;
      margin-left: 5px;
    }
    .scores {
      @include goldenRatio(0);
    }
  }
  .glyphicon-user {
    padding: 8px;
    font-size: 15px;
  }
  select {
    @include goldenRatio(0);
    margin: 10px;
    width: 150px;
    height: 50px;
    background-position: 120px 15px;
  }
}
